@page "/add"
@inject IBookService Bookservice
@inject NavigationManager NavigationManager


<h3>Add Book</h3>

<BookForm Book="Book" ButtonTitle="Add Book" OnValidSubmit="AddBookToDb" />

@code {

    private Book Book { get; set; } = new();

    private async Task AddBookToDb()
    {

        await Bookservice.AddBookAsync(Book);
        NavigationManager.NavigateTo("booklist");
    }

}