@page "/loanlist"
@inject ILoanService LoanService
@inject NavigationManager Navigation

@if (Loan is not null)
{
    <button class="btn btn-primary mb-3" @onclick="NavigateToAddLoan">Add Loan</button>

    <table class="table table-hover table-bordered text-center">
        <thead>
        <th>Book</th>
        <th>Reader</th>
        <th>Borrow Date</th>
        <th>Return Deadline</th>
        <th></th>
        </thead>
        <tbody>
            @foreach (var loan in Loan)
            {
                <tr>
                    <td>@loan.Book.Title</td>
                    <td>@loan.Reader.Name</td>
                    <td>@loan.BorrowDate</td>
                    <td>@loan.ReturnDeadline</td>
                    <td>
                        <button class="btn btn-danger" @onclick="() => DeleteLoan(loan.Id)">Delete</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private IEnumerable<Loan>? Loan { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Loan = await LoanService.GetLoansAsync();
    }

    private async Task DeleteLoan(int loanId)
    {
        await LoanService.DeleteLoanAsync(loanId);
        Loan = await LoanService.GetLoansAsync();
    }

    private void NavigateToAddLoan()
    {
        Navigation.NavigateTo("/addloan");
    }
}
