@page "/readerlist"
@inject IReaderService ReaderService
@inject NavigationManager Navigation

@if (Reader is not null)
{
    <button class="btn btn-primary mb-3" @onclick="NavigateToAddReader">Add Reader</button>

    <table class="table table-hover table-bordered text-center">
        <thead>
        <th>Name</th>
        <th>Address</th>
        <th>Birth Date</th>
        <th></th>
        </thead>
        <tbody>
            @foreach (var reader in Reader)
            {
                <tr>
                    <td>@reader.Name</td>
                    <td>@reader.Address</td>
                    <td>@reader.BirthDate</td>
                    <td>
                        <a href="readerdetails/@reader.Id">Details</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private IEnumerable<Reader>? Reader { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Reader = await ReaderService.GetReadersAsync();
    }

    private void NavigateToAddReader()
    {
        Navigation.NavigateTo("/addreader");
    }
}
